{{template  "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1> This is the Abou Page</h1>
                <p> Look at me now</p>
                <p>This Came From the Template {{index .StringMap "test"}}</p>
            </div>
        </div>
    </div>
{{end}}